body {
    background-color: #d0e4fe;
}
h1 {
    color: orange;
    text-align: center;
}
p {
    font-family: "Times New Roman";
    font-size: 20px;
}

.currentFolder {
    font-weight: bold;
    font-size: 25px;
}

.imagePreview {
    max-width:330px;
    max-height:220px;
}

.imagePreviewParagraph {
    vertical-align:top;
}