doctype 5
html
  head
    title= title
  body(onload='loadRoot( "root", "root" );')
    script(src='/config.js')
    script(src='/client/prototypejs/prototype.js')
    script(src='/client/cms_access/uComm.js')
    script(src='/client/cms_access/uFile.js')
    script(src='/js/CMSExplorer.js')
    script(src='/js/CMSOperations.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block content
    h1= title
    #rootArea
    //button(onclick='prepareRemove()') Remove Selected Files/Folders
  Footer