doctype 5
html
  head
    title= title
  body(onload=onloadScript class='CMSbody')
    script(src='/config.js')
    script(src='/client/prototypejs/prototype.js')
    script(src='/client/cms_access/uComm.js')
    script(src='/client/cms_access/uFile.js')
    script(src='/js/CMSExplorer.js')
    script(src='/js/imgFileManager.js')
    link(rel='stylesheet', href='/stylesheets/imgFileManager.css')
    block content
    h1= title
    if hasParent
      a(href= parentHref )
        img(src='/image/parent.jpg' height='20' width='30') Parent
    #fileList
  Footer