doctype 5
html
  head
    title= title
  body(onload='loadRoot( "root", "root" );' class='CMSbody')
    script(src='/config.js')
    script(src='/client/prototypejs/prototype.js')
    script(src='/client/cms_access/uComm.js')
    script(src='/client/cms_access/uFile.js')
    script(src='/js/CMSExplorer.js')
    script(src='/js/scriptFilePicker.js')
    link(rel='stylesheet', href='/stylesheets/scriptFilePicker.css')
    block content
    h1= title
    #rootArea
    P File name: 
    input(type="text", id="fileName" name="fileName")
    div.buttonZone
      input(type="button", value="Cancel" onClick="window.close();")
      input(type="button", value="save" onclick="saveScript();")
  Footer